.section-nav {
  position: relative;
  text-align: center;
  padding: 30px 0;

  @media (min-width: $bp-small) {
    padding: 54px 0 43px;
  }

  @media (min-width: $bp-middle) {
    padding: 82px 0 68px;
  }

  &:before, &:after {
    @include pseudo-block($left: 0, $bottom: 0, $right: 0);
    width: 100%;
    z-index: -2;
  }

  &:before {
    top: 0;
    background: image_url('bg/bg-section-tabs.jpg');
  }

  &:after {
    @include background-image(linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .15) 100%));
    height: 280px;
  }

  h2 {
    color: $color-2;
    margin: 0 0 20px;
    text-align: center;

    @media (min-width: $bp-small) {
      margin: 0 0 25px;
    }

    @media (min-width: $bp-middle) {
      margin: 0 0 59px;
    }
  }

  .text {
    max-width: 680px;
    font-size: 14px;
    line-height: 1.55;
    margin: 0 auto 20px;

    @media (min-width: $bp-small) {
      font-size: 18px;
      margin: 0 auto 30px;
    }

    @media (min-width: $bp-middle) {
      margin: 0 auto 56px;
    }
  }

  .nav-wrap {
    margin-bottom: 30px;

    @media (min-width: $bp-middle) {
      margin-bottom: 49px;
    }

    ul {
      margin: 0;
      padding: 0;


      @media (min-width: $bp-small) {
        display: table;
        table-layout: fixed;
        width: 100%;
      }
    }


    li {
      padding: 0;
      display: inline-block;
      margin: 0 7px 15px;
      width: 100px;
      list-style: none;

      @media (min-width: $bp-small) {
        padding: 0 22px;
        display: table-cell;
        vertical-align: middle;
        margin: 0;
        border-right: 1px solid $color-14;
        width: auto;
      }

      @media (min-width: $bp-middle) {
        padding: 0 37px;
      }

      &:last-child {
        border: none;
      }
    }

    &.style-a {

      li {
        @media (min-width: $bp-small) {
          vertical-align: bottom;
        }
      }

      a span {
        margin-bottom: 17px;
      }
    }


    &.style-b {

      li {
        padding: 0;

        @media (min-width: $bp-small) {
          padding: 20px;
        }

        @media (min-width: $bp-middle) {
          padding: 39px 20px;
        }
      }

      a {
        margin-bottom: 0;
      }
    }

    a {
      font-size: 15px;
      display: inline-block;
      font-family: $Neutraface2Text-DemiItalic;
      color: $color-2;
      margin-bottom: 10px;
      line-height: 1;
      @include transition(color .3s);
      text-decoration: none;

      @media (min-width: $bp-middle) {
        font-size: 18px;
      }

      &:hover {
        color: $color-1;
      }

      span {
        display: block;
        margin-bottom: 10px;
      }
    }
  }

  .btn {
    text-decoration: none;
    margin: 0 13px 15px;
    font-size: 12px;

    @media (min-width: $bp-small) {
      margin: 0 27px 0 0;
      font-size: 14px;
    }

    &:last-child {

      @media (min-width: $bp-small) {
        margin: 0;
      }
    }
  }
}