@font-face {
  font-family: 'HelveticaNeue';
  src: url('../fonts/HelveticaNeue.woff') format('woff'),
  url('../fonts/HelveticaNeue.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Neutraface2Text-Bold';
  src: url('../fonts/Neutraface2Text-Bold.woff') format('woff'),
  url('../fonts/Neutraface2Text-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Neutraface2Text-BoldItalic';
  src: url('../fonts/Neutraface2Text-BoldItalic.woff') format('woff'),
  url('../fonts/Neutraface2Text-BoldItalic.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Neutraface2Text-Demi';
  src: url('../fonts/Neutraface2Text-Demi.woff') format('woff'),
  url('../fonts/Neutraface2Text-Demi.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Neutraface2Text-DemiItalic';
  src: url('../fonts/Neutraface2Text-DemiItalic.woff') format('woff'),
  url('../fonts/Neutraface2Text-DemiItalic.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Neutraface2Text-BookItalic';
  src: url('../fonts/Neutraface2Text-BookItalic.woff') format('woff'),
  url('../fonts/Neutraface2Text-BookItalic.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Neutraface2Text-LightItalic';
  src: url('../fonts/Neutraface2Text-LightItalic.woff') format('woff'),
  url('../fonts/Neutraface2Text-LightItalic.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Neutraface2Text-Book';
  src: url('../fonts/Neutraface2Text-Book.woff') format('woff'),
  url('../fonts/Neutraface2Text-Book.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeue-Italic';
  src: url('../fonts/HelveticaNeue-Italic.woff') format('woff'),
  url('../fonts/HelveticaNeue-Italic.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeue-MediumItalic';
  src: url('../fonts/HelveticaNeue-MediumItalic.woff') format('woff'),
  url('../fonts/HelveticaNeue-MediumItalic.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SSSocialRegular';
  src: url('../fonts/ss-social-regular.eot');
  src: url('../fonts/ss-social-regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/ss-social-regular.woff') format('woff'),
  url('../fonts/ss-social-regular.ttf') format('truetype'),
  url('../fonts/ss-social-regular.svg#SSSocialRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SSGlyphish";
  src: url('../fonts/ss-glyphish-outlined.eot');
  src: url('../fonts/ss-glyphish-outlined.eot?#iefix') format('embedded-opentype'),
  url('../fonts/ss-glyphish-outlined.woff') format('woff'),
  url('../fonts/ss-glyphish-outlined.ttf')  format('truetype'),
  url('../fonts/ss-glyphish-outlined.svg#SSGlyphishOutlined') format('svg');
  font-weight: normal;
  font-style: normal;
}